﻿@model BaiTap.Models.Comment

<div class="display-field">
    <h2>Người đăng:   @Html.DisplayFor(c => c.Author)</h2>
</div>
<div class="display-field">
    Cách đây: @Html.DisplayFor(c => c.LastTime)
</div>
<div class="display-field">
    @Html.DisplayFor(c => c.Body)
</div>