﻿@model IEnumerable<MvcApplication1.Models.BAIHOC>

@{
    ViewBag.Title = "LocTheoLop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
        a:link {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
}
a:hover {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
</style>
<div style="padding-left: 1000px">
    @Html.ActionLink("Lớp 10", "LocTheoLop", new { id = 1 }) &nbsp; &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Lớp 11", "LocTheoLop", new { id = 2 })&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Lớp 12", "LocTheoLop", new { id = 3 })&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Tất cả", "Index","MONHOC")

</div>
@foreach (MvcApplication1.Models.MONHOC mon in ViewBag.MonHocs)
{
    <div style="padding-left: 5px; padding-top:10px; border: 1px solid;height: 50px; width:50px; margin:10px auto 10px 167px">
        <div style="padding-top:10px">@mon.TenMonHoc</div>
    </div>
    foreach (var item in Model)
    {
        if (item.MONHOCID == mon.ID)
        {
            <a href="@item.Link" target="_blank"><div style="padding-left: 180px">@item.TenBaiHoc</div></a>
        }
    }
}