﻿@model MvcApplication1.Models.BAIHOC

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BAIHOC</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenBaiHoc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBaiHoc)
            @Html.ValidationMessageFor(model => model.TenBaiHoc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Link)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Link)
            @Html.ValidationMessageFor(model => model.Link)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LOPID, "LOPs")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LOPID", String.Empty)
            @Html.ValidationMessageFor(model => model.LOPID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MONHOCID, "MONHOC")
        </div>
        <div class="editor-field">
            @Html.DropDownList("MONHOCID", String.Empty)
            @Html.ValidationMessageFor(model => model.MONHOCID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
