﻿@model IEnumerable<MvcApplication1.Models.VIDEO>

@{
    ViewBag.Title = "Index";
}

<div style="padding-left: 180px; padding-top: 20px">
    @foreach (var item in Model)
    {
        <div>
            <h2>@item.Title</h2>
            <iframe style="padding-left: 20px" width="300" height="250" src="//@item.Link" frameborder="0"></iframe>
        </div>
    }
</div>