﻿@model IEnumerable<MvcApplication1.Models.HOCONLINE>

@{
    ViewBag.Title = "Index";
}

<style>
    ul li {
        display: inline;
    }

    a:link {
        color: #000000;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: #000000;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: #ff0000;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: #ff0000;
        background-color: transparent;
        text-decoration: underline;
    }
</style>
<body>

    <div style="padding-left:167px"><h2>Các trang web học online</h2></div>
    <div style="width:1000px; border-top: 4px solid; margin: 0 auto; padding-top: 10px">
        @foreach (var item in Model)
        {
            <a href="@item.Link" target="_blank" style="padding: 10px"><img src="@item.Hinh" /></a>
        }
    </div>

    <div style="padding-left:1130px">@Html.ActionLink("Thêm", "Create")</div>




</body>
<div style="padding-top: 10px;width:1000px; border-bottom: 4px solid; margin: 0 auto;"><h2>@Html.ActionLink("Các môn học", "Index", "MONHOC")</h2></div>
@foreach (MvcApplication1.Models.MONHOC m in ViewBag.MonHoc)
{
    <div style="padding-left: 5px; padding-top:10px; border: 1px solid;height: 50px; width:50px; margin:10px auto 10px 167px">
        <div style="padding-top:10px">@m.TenMonHoc</div>
    </div>
    <div style="width:1000px;margin:0 auto">
        @foreach (MvcApplication1.Models.BAIHOC b in (ViewBag.BaiHoc))
        {
            if (b.MONHOCID == m.ID)
            {
                <a href="@b.Link" target="_blank"><div style="padding-left: 30px">@b.TenBaiHoc</div></a>

            }
        }
    </div>
}
<div style="padding-top: 10px;width:1000px; border-bottom: 4px solid; margin: 0 auto;"><h2>@Html.ActionLink("Video", "Index", "VIDEO")</h2></div>
<div style="padding-left: 180px; padding-top: 10px">
    @foreach (MvcApplication1.Models.VIDEO v in ViewBag.Video)
    {
        @*<a href="@v.Link" target="_blank" style="padding-left: 180px">@v.Title</a>*@
        <iframe style="padding-left: 20px" width="300" height="250" src="//@v.Link" frameborder="0"></iframe>
    }
</div>
<div style="padding-top: 10px;width:1000px; border-bottom: 4px solid; margin: 0 auto;"><h2>@Html.ActionLink("Thông tin tuyển sinh", "Index", "TUYENSINH")</h2></div>
@foreach (MvcApplication1.Models.TUYENSINH t in ViewBag.TuyenSinh)
{
    <div>
        <h3>
            <a href="@t.Link" target="_blank" style="padding-left: 180px">@t.Title</a>
        </h3>
    </div>
}