﻿@model IEnumerable<MvcApplication1.Models.TUYENSINH>

@{
    ViewBag.Title = "Index";
}

<style>
        a:link {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
}
a:hover {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}
</style>
<div style="padding-left: 100px; padding-top: 20px">
    @foreach (var item in Model)
    {
        <div>
            <h2><a href="@item.Link" target="_blank" style="padding-left: 180px">@item.Title</a></h2>
        </div>
    }
</div>

