﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    <style>
        ul {
            list-style: none;
        }

            ul li {
                display: inline;
                /*border:1px solid;*/
            }

        .float-right {
            float: right;
        }

        a {
            text-decoration: none;
        }

        .wrapper {
            width: 1335px;
            height: 800px;
        }

        header {
            height: 45px;
            width: 100%;
            border: 1px solid black;
            background: #00ff21;
        }
    </style>
</head>
<body class="wrapper">
    <header>
        <ul>
            <li>
                @Html.ActionLink("Trang chủ", "Index", "HOCONLINE")
            </li>
            <li class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>

            </li>
        </ul>
    </header>

    <div style="margin:0 auto; width:1335px;height: 100px">

        <div style="padding-left: 408px; padding-top:35px; display: inline-block; ">
            <span style="border: 2px solid; background:#0f21e6; width:100px; height:30px;font-size: 20px">Google</span>
            <input size="50" style="height: 30px" />
            <button style="border: 2px solid; background:#0f21e6; width:100px; height:30px;" type="button">Tìm kiếm</button>
            
            
        </div>
    </div>


    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <footer>
        <div style="padding-top: 20px">
            <div style="height: 100px;margin: 0 auto;padding-top: 10px; padding-left:850px;border-top: 2px solid #0f21e6">
                <h3>Lập trình web</h3>
                <h3>Sáng thứ 6</h3>
                <h3>Sinh viên thực hiện: Nguyễn Công Phúc</h3>
            </div>
        </div>
    </footer>
</body>
</html>
